/*---------->   BASIC SETTINGS BEGIN  <----------*/
:root{
  --primary-bg-color:#222 !important;
  --secondary-bg-color: #444 !important;
  --primary-color: #ddd !important;
  --secondary-color: #ccc !important;
  --third-color: #bbb !important;
  --link-color: #FFD700 !important;
  --link-bf-color:#f4e696 !important;
  --link-btn:#000 !important;
  --brightness-procent: 100% !important;
  --btn-accept:#00851d !important;
  --btn-decline:#c60000 !important;
  --shadow-color:rgba(255, 255, 255, 1) !important;
    /*--margin-1:4.375rem 0;
    --width-1: 50%;
    --width-3: 90%;
    --height-1:75vh*/
}
[data-theme="dark"] {
  --primary-bg-color:#222 !important;
  --secondary-bg-color: #444 !important;
  --primary-color: #fff !important;
  --secondary-color: #ddd !important;
  --third-color: #ccc !important;
  --fourth-color: #fff !important;
  --fifth-color: #fff !important;
  --link-color: #FFD700 !important;
  --link-bf-color:#f4e696 !important;
  --link-btn:#000 !important;
  --brightness-procent: 100% !important;
  --shadow-color:rgba(255, 255, 255, 1) !important;
}
[data-theme="light"] {
  --primary-bg-color:#fff !important;
  --secondary-bg-color: #ccc !important;
  --primary-color: #222 !important;
  --secondary-color: #333 !important;
  --third-color: #444 !important;
  --fourth-color: #000 !important;
  --fifth-color: #fff !important;
  --link-color: #3f0098 !important;
  --link-bf-color:#743ac6 !important;
  --link-btn:#fff !important;
  --brightness-procent: 50% !important;
  --shadow-color:rgba(0, 0, 0, 1) !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-bg-color);
    outline: none;
    border: none;
    font-family: 'Roboto Mono','Courier New', Courier, monospace;
    scroll-behavior: smooth;
}
h1,h2,h3,p{
    color: var(--primary-color);
}

.input-form{
  width: 100%;
  padding: .6rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
  border-radius: .25rem;
}

.label-form{
  display: block;
  margin-bottom: .5rem;
  color:  var(--primary-color);
  font-weight: bold;
}

.button-form{
  width: 100%;
  padding: 1rem;
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  border: .1rem solid var(--primary-color);
}
.button-form:hover{
  background-color: var(--primary-color);
  color: var(--link-btn);
}

.container-50-bordered{
  max-width: 50%;
        margin: 0 auto;
        padding: 2.25rem 1rem;
        border: 1px solid var(--primary-color);
        box-shadow: .25rem .25rem .6rem var(--shadow-color);
        border-radius: 1rem;
        background-color: var(--primary-bg-color);
        align-items: center;
        align-content: center;
}

/*---------->   BASIC SETTINGS END <----------*/


/*---------->   COMPONENTS BEGIN <----------*/

    /*---------->   AUTHORCARD  BEGIN <----------*/

    .author-card {
        border: 1px solid var(--primary-color);
        border-radius: .5rem;
        padding: 1rem;
        max-width: 14rem;
        text-align: center;
        margin: 2rem 0;
        transition: transform 0.2s;
      }
    .author-card:hover{
      transform: scale(1.1);
      cursor:pointer;
    }
      
      .authorcard-image {
        width: 100px;
        height: 100px;
        border: 1.5px solid var(--primary-color);
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: .75rem;
      }
      
      .author-name {
        font-size: 1.5rem;
        margin: 0.5rem 0;
      }
      
      .author-bio {
        font-size: 1.1rem !important;
        margin: 0.5rem 0;
        text-align: center !important;
      }

      @media (max-width: 768px) {
        .author-card {
          padding: .4rem;
          min-width: 80% !important;
          max-width: 85% !important;
          min-height: 40% !important;
          max-height: 50% !important;
          margin-bottom: .6rem !important;
        }
        
        .authorcard-image {
          width: 80px;
          height: 80px;
          margin-bottom: .5rem;
        }
        
        .author-name {
          font-size: 1.1rem;
        }
        
        .author-bio {
          font-size: .8rem !important;
        }
      }

    /*---------->   AUTHORCARD  END <----------*/

    /*---------->   CARD  BEGIN <----------*/

    .card {
        min-width: 15rem;
        max-width: 25rem;
        min-height: 30rem;
        max-height: 33rem !important;
        margin: 4.375rem 1.5rem;
        border: 1px solid var(--primary-color);
        background-color: var(--primary-bg-color);
        border-radius: 1rem;
        overflow: hidden;
        transition: transform 0.2s;
      }
      
      .card:hover {
        transform: scale(1.1);
        cursor:pointer;
      }
      
      .card-image {
        height: 16.5rem;
        width: 100%;
        margin: 0;
        object-fit: cover;
        overflow: hidden;
      }
      
      .card-content {
        padding: .1rem !important;
        margin: 0 !important;
        text-align: center;
      }
      
      .card-title {
        font-size: 1.4rem !important;
        margin: 0;
      }
      
      .card-text {
        font-size: 1rem !important;
        margin: 0 !important;
        flex-grow: 1;
        text-align:center !important;
      }
      
      .card-date {
        font-size: .9rem !important;
        text-align: center !important;
        margin: 0 !important;
      }

      /*.btn-card-show-more{
        padding: 10px;
        border-radius: 10px;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        cursor: pointer;
        background-color: var(--secondary-bg-color);
        font-weight: bold;
      }
      .btn-card-show-more:hover{
        background-color: var(--primary-color);
        color: #000;
      }*/

      /* Responsive styles */
    @media (max-width: 768px) {

      .card{
        min-width: 80% !important;
        max-width: 90% !important;
        min-height: 40% !important;
        max-height: 50% !important;
        margin-bottom: .6rem !important;
      }

      .card-image {
        height: 9rem;
        width: 100%;
        margin: 0;
        object-fit: cover;
        overflow: hidden;
      }

      .card-content {
        padding: 1rem !important;
        margin: 0 !important;
        text-align: center;
      }
      
      .card-title {
        font-size: 1.1rem !important;
        margin: 0;
      }
      
      .card-text {
        font-size: .8rem !important;
        margin: 0 !important;
        flex-grow: 1;
        text-align:center !important;
      }
      
      .card-date {
        font-size: .7rem !important;
        text-align: center !important;
        margin: 0 !important;
      }

    }

    /*---------->   CARD  END <----------*/

    /*---------->   CAROUSEL  BEGIN <----------*/

    .carousel {
        position: relative;
        width: 100%;
        max-height: 600px; /* Adjust as per your needs */
        margin: auto;
        overflow: hidden;
        margin-bottom: 18px;
      }
      
      .carousel-inner {
        display: flex;
        transition: transform 0.5s ease-in-out;
      }
      
      .carousel-item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        max-width: 100%;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
        display: none;
        overflow: hidden;
      }
      
      .carousel-item.active {
        display: flex; /* Flexbox elrendezés a képek középre igazításához */
        opacity: 1;
      }
      
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: var(--primary-color);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        
      }
      
      .prev {
        left: 0;
      }
      
      .next {
        right: 0;
      }
      
      .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      .carousel-img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* A kép a rendelkezésre álló területet kitölti */
        max-height: 600px; /* Biztosítja, hogy ne lépje túl a Carousel magasságát */
      }      

    /*---------->   CAROUSEL  END <----------*/

    /*---------->   THEMETOGGLE  BEGIN <----------*/

    .theme-toggle-btn{
      color: var(--primary-color);
      cursor: pointer;
      font-size: 1.2rem;
      align-items: center;
      margin: 0;
    }
    .theme-toggle-btn:hover{
      color: var(--link-color);
    }

    /*---------->   THEMETOGGLE  END <----------*/

    /*---------->   HEADER  BEGIN <----------*/

    /* Basic styling */
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        color: var(--primary-color);
        box-shadow: 0 .3rem 1rem -.5rem var(--shadow-color);
        margin-bottom: 4.375rem;
    }
    .nav-logo .logo{
      width:100px
    }
    
    /* Nav menu for larger screens */
    .nav-menu {
        display: flex;
        list-style: none;
        gap: 1.5rem;
    }
    
    .nav-menu li a {
      color: var(--primary-color);
      padding: 5px;
      text-decoration: none;
      font-weight: bold;
      position: relative; /* Szükséges a ::after pszeudoelemhez */
      transition: color 0.3s ease-in-out; /* A szöveg színének átmenete */
      transition-delay: 0.3s; /* Késleltetés a szín váltására */
    }
    
    .nav-menu li a::after {
      content: '';
      position: absolute;
      width: 0;
      height: .25rem; /* A csík vastagsága */
      background-color: var(--link-color); /* Aranysárga szín */
      bottom: 0;
      left: 0;
      transition: width .5s ease-in-out; /* Animáció a csík szélességére */
    }
    
    .nav-menu li a:hover::after {
      width: 100%; /* A csík végighúzódik a link alatt */
    }
    
    .nav-menu li a:hover {
      color: var(--link-color); /* A szöveg színe változik */
      font-size: 1.1rem; /* A méretváltozás egyértelművé tétele */
      transition:  font-size 0.3s ease; /* Az összes változás egy helyen */
      transition-delay: 0s; /* Azonnali hatás */
    }
    
    
    
    /* Mobile menu (initially hidden) */
    .nav-toggle-button {
        background: none;
        border: none;
        color: var(--primary-color);
        font-size: 1.5rem;
        cursor: pointer;
        display: none; /* hidden by default on large screens */
    }
    .nav-toggle-button:hover{
      color: var(--link-color);
    }
    
    /* Mobile menu styling */
    .nav-menu.open {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        flex-direction: column;
        box-shadow: 0 .3rem 1rem -.5rem var(--shadow-color);
    }
    
    .nav-menu li {
        padding: 1rem 0;
    }
    
    /* Responsive styles */
    @media (max-width: 768px) {
        .nav-menu {
        display: none; /* hide on small screens */
        flex-direction: column;
        width: 100%;
        z-index: 10;
        }
    
        .nav-toggle-button {
        display: block; /* show toggle button on small screens */
        }
    }

    /*---------->   HEADER  END <----------*/

    /*---------->   FOOTER  BEGIN <----------*/

    .footer-container {
        background-color: var(--primary-bg-color);
        padding: 1.25rem;
        text-align: center;
        color: var(--primary-color);
        position: sticky;
        box-shadow: 0px -.25rem 1rem -.5rem var(--shadow-color);
        margin-top: 4.375rem;
        
      }
      
      .footer-ul {
        list-style: none;
        padding: 0;
      }
      
      .footer-li {
        margin: .6rem 0;
        font-size: 1.25rem;
      }
      
      .footer-li a {
        color: var(--primary-color);
        text-decoration: none;
        transition: color 0.3s ease;
      }
      
      .footer-li a:hover {
        color: var(--link-color);
      }
      
      .footer-li a .fa {
        margin-right: .6rem;
        font-size: 1.5rem;
      }
      
      .footer-contact {
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
      }
      
      .copyright-text {
        font-size: .9rem;
        margin-top: 1.25rem;
        color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .copyright-text .fa {
        margin-right: 1.1re,é;
      }

      .gdpr{
        text-decoration: none;
        color: var(--secondary-color);
        margin-left: 1rem;
      }
      .gdpr:hover{
        color:  var(--link-color);
      }

      @media (max-width: 768px) {
        .copyright-text {
          flex-direction: column-reverse;
          margin-top: 1rem;
        }
        .copyright-text .fa{
          margin-bottom: 1.5rem;
        }
        .gdpr{
          margin-bottom: .3rem;
        }

        .footer-li{
          font-size: 1rem;
        }
        .footer-container h1{
          font-size: 1.3rem;
        }
      }
    /*---------->   FOOTER  END <----------*/

    /*---------->   TEXTEDITOR  BEGIN <----------*/

    /* Módosítjuk a Quill toolbar stílusait */
.ql-toolbar {
  background-color: var(--primary-bg-color) !important; /* Sötétszürke háttérszín */
  color: var(--primary-color) !important; /* Fehér szín a szövegeknek */
}

/* A toolbar gombjainak színe */
.ql-toolbar .ql-formats button {
  background-color: transparent; /* Átlátszó háttér a gomboknak */
  color: var(--primary-color) !important; /* Fehér színű ikonok és szövegek */
  border: none; /* Nincs keret */
}

/* Ha szeretnél egyedi stílust a dropdown-okhoz is */
.ql-toolbar .ql-picker {
  color: var(--primary-color) !important; /* Fehér szín a legördülő menük szövegeinek */
}

.ql-toolbar .ql-picker-item {
  background-color: transparent; /* Átlátszó háttér */
  color: var(--primary-color) !important; /* Fehér szín */
}

.ql-toolbar .ql-picker-item:hover {
  background-color: var(--secondary-bg-color); /* Sötétebb háttér a legördülő menü elemeinek hover során */
}


      .save-button{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 30px;
      }
    /*---------->   TEXTEDITOR  END <----------*/

    /*---------->   GDPR  BEGIN <----------*/

      .gdpr-container{
        max-width: 80%;
        margin: 90px auto;
        padding: 20px;
        border: 1px solid var(--primary-color);
        box-shadow: 5px 5px 15px var(--shadow-color);
        border-radius: 17px;
        background-color: var(--primary-bg-color);
        align-items: center;
        align-content: center;
      }
      .gdpr-title{
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: justify;
        color: var(--primary-color);

      }
      .gdpr-subtitle{
        color: var(--secondary-color);
        text-align: justify;
        margin-bottom: 1.25rem;
      }
      .gdpr-p{
        margin-bottom: .75rem;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
        text-align: justify;
        color: var(--third-color);

      }
      .gdpr-ul{
       margin: 0;
       margin-left: 6rem;
        list-style:square;
      }
      .gdpr-li{
        padding: .6rem;
        margin-bottom: .6rem;
        color: var(--third-color);
        text-align: justify;
      }

      .gdpr-link{
        text-decoration: none;
        color: var(--link-bf-color);
      }
      .gdpr-link:hover{
        color: var(--link-color);
      }

  /*---------->   GDPR  END <----------*/

  /*---------->   COOKIE  BEGIN <----------*/

  
  .cookie-banner h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  .cookie-banner p {
    text-align: justify;
    margin-top: 0.5rem;
  }
  
  .cookie-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .cookie-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .cookie-accept {
    border: 1px solid var(--btn-accept);
    background-color: var(--primary-bg-color);
    color: var(--fourth-color);
  }
  
  .cookie-accept:hover {
    color: var(--fifth-color);
    background-color: var(--btn-accept);
  }
  
  .cookie-decline {
    color: var(--fourth-color);
    border: 1px solid var(--btn-decline);
    background-color: var(--primary-bg-color);
  }
  
  .cookie-decline:hover {
    color: var(--fifth-color);
    background-color: var(--btn-decline);
  }

  .cookie-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999; /* Magasabb, mint bármi más az oldalon */
    pointer-events: all; /* Minden interakciót megakadályoz */
  }
  
  .cookie-banner {
    position: fixed;
    bottom: 1rem;
    width: 60%;
    height: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-bg-color);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  .cookie-left{
    padding-right: 1.25te;
  }

@media (max-width: 1500px) {

  .cookie-banner{
    bottom: 1rem;
    width: 75%;
    justify-content: space-around;
    flex-direction: column;
    height: 30%;
  }

  .cookie-banner p{
    font-size: 1.1rem;
  }
  .cookie-buttons{
    flex-direction: row;
    gap: 1.5rem;
  }
  .cookie-banner h1{
    font-size: 1.35;
  }
  .cookie-left{
    padding-right: 0;
  }
}
  
@media (max-width: 1200px) {

  .cookie-banner{
    bottom: 1rem;
    width: 60%;
    justify-content: space-around;
    flex-direction: column;
    height: 45%;
  }

  .cookie-banner p{
    font-size: 1rem;
  }
  .cookie-buttons{
    flex-direction: row;
    gap: 1.5rem;
  }
  .cookie-banner h1{
    font-size: 1.35rem;
  }
  .cookie-left{
    padding-right: 0;
  }
  .cookie-banner p{
    text-align: center;
  }
}

@media (max-width: 768px) {

  .cookie-banner{
    bottom: 1rem;
    width: 90%;
    justify-content: space-around;
    flex-direction: column;
    height: 55%;
  }

  .cookie-banner p{
    font-size: .9rem;
  }
  .cookie-buttons{
    flex-direction: row;
    gap: 2rem;
  }
  .cookie-banner h1{
    font-size: 1.25rem;
  }
  .cookie-left{
    padding-right: 0;
  }
  .cookie-banner p{
    text-align: center;
  }
}

  /*---------->   COOKIE  END <----------*/

/*---------->   COMPONENTS END <----------*/

/*---------->   PAGES  BEGIN <----------*/
    /*---------->   AUTHORPOST  BEGIN <----------*/

      
    
    /*---------->   AUTHORPOST  END <----------*/

    /*---------->   CATEGORYPOSTS  BEGIN <----------*/



    /*---------->   CATEGORYPOSTS  END <----------*/

    /*---------->   CREATEPOST  BEGIN <----------*/


    
    /*---------->   CREATEPOST  END <----------*/

    /*---------->   DASHBOARD  BEGIN <----------*/

    

    /*---------->   DASHBOARD  END <----------*/

    /*---------->   DELETEPOST  BEGIN <----------*/



    /*---------->   DELETEPOST  END <----------*/

    /*---------->   EDITPOST  BEGIN <----------*/



    /*---------->   EDITPOST  END <----------*/

    /*---------->   ERRORPAGE  BEGIN <----------*/

    /* Konténer stílus */
    .error-container {
        display: flex;
        max-width: 50%;
        max-height: 50vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.25rem;
        text-align: center;
        margin: 90px auto;
        box-shadow: .25rem .25rem 1rem rgba(255, 0, 0, 1);
        border: 1px solid red;
        border-radius: 1rem;
    }
    
    /* Cím stílus */
    .error-title {
        font-size: 2rem;
        color: rgba(190, 0, 0, .9);
    }
    
    /* Hibaleírás stílus */
    .error-text {
        font-size: 1.2rem;
    }
    
    /* Dátum stílus */
    .error-date {
        font-size: 1rem;
    }

    @media (max-width: 768px) {
        
        .error-container {
            max-width: 90%;
            
        }
    }

    /*---------->   ERRORPAGE  END <----------*/

    /*---------->   HOME  BEGIN / AUTHORS BEGIN <----------*/

    .card-container{
        background-color: var(--primary-bg-color);
        margin: var(--margin-1);
        margin: 0  2rem;
    }
      
      .card-container h1 {
        margin-top: 1.25rem;
        font-size: 2.5rem;
        margin-bottom: 1.25rem;
        color: var(--primary-color);
        text-align: center;
        font-weight: bold;
        background-color: var(--primary-bg-color);
      }
      .card-container p{
        font-size: 1.2rem;
        text-align: justify;
        line-height: 1.5;
        color: var(--primary-color);
        margin-bottom: 2rem;
        padding: 1rem;
        background-color: var(--primary-bg-color);  }
      
      .card-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--primary-bg-color);
        margin-bottom: 1.25rem;
      }

      /* Responsive styles */
    @media (max-width: 768px) {

      .card-container{
        margin: 0!important;
        gap: 1rem;
      }
      .card-container h1{
        font-size:  1.8rem !important;
      }
      .card-container h2{
        font-size:  1.4rem !important;
        margin-bottom: 0;
      }
      .card-container .home-p{
        font-size:  .8rem !important;
        margin-bottom: .9rem;
      }
      .card-list{
        justify-content: space-evenly !important;
      }

      .authors-h1{
        font-size: 1.3rem;
      }
      .authors-p{
        font-size: .8rem !important;
      } 

    }

    /*---------->   HOME  END / AUTHORS END <----------*/

    /*---------->   LOGIN  BEGIN / LOGOUT BEGIN / REGISTER BEGIN<----------*/

    .login-container {
        max-width: 50%;
        margin: 90px auto;
        padding: 1.25rem;
        border: 1.5px solid var(--primary-color);
        box-shadow: .25rem .25rem 1rem var(--shadow-color); 
        border-radius: 1rem;
        background-color: var(--primary-bg-color);
        align-items: center;
        align-content: center;
    }
    
    h2 {
        text-align: center;
    }
    
    .form-group {
        margin-bottom: 1rem;
        padding: .7rem;
    }
    
    .login {
        width: 100%;
        padding: 1rem;
        margin-bottom: .6rem;
        background-color: var(--secondary-bg-color);
        color: var(--primary-color);
        border: none;
        border-radius: 1.25rem;
        cursor: pointer;
    }
    
    .login:hover {
        background-color: var(--primary-color);
        color: black;
    }
    .login_p{
      padding-top: 1.25rem;
      margin-bottom: 0;
      cursor: pointer;
      color:var(--link-bf-color); 
      text-align: center;
    }
    .login_p:hover{
      padding-top: 1.25rem;
      cursor: pointer;
      color:var(--link-color);
    }
    
    
    @media (max-width: 768px) {
        
        .login-container {
            max-width: 90%;
            
        }
      }

    /*---------->   LOGIN  END / LOGOUT END / REGISTER END <----------*/

    /*---------->   LOGOUT  BEGIN <----------*/

    .logout-container {
        margin: 1rem;
        margin: 25vh auto;
        padding: 2rem;
        max-width: 40%;
        border: var(--primary-color) 1px solid;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--primary-bg-color);
      }
      
      button.hidden {
        display: none;
      }
      
      .modal {
        display:flexbox;
        align-items:center;
        justify-content: center;
      }
      
      .modal-content {
        padding: 1.25rem;
        border-radius: 1rem;
        text-align: center;
      }
      .logout{
        margin: 2rem;
        padding: .6rem 1.25rem;
        background-color: var(--primary-bg-color);
        border: var(--primary-color) 1px solid;
      }
      .button-logout{
        width: 45%;
        padding: .6rem;
        border: 1px solid var(--primary-color);
        border-radius: .6rem;
        margin: 0 .6rem;
        color: var(--primary-color);
        background-color: var(--secondary-bg-color);
      }

      .button-logout:hover{
        background-color: var(--primary-color);
        color: var(--primary-bg-color);
      }
      
      @media (max-width: 768px) {
        
        .logout-container {
            max-width: 90%;
            
        }
      }
    /*---------->   LOGOUT  END <----------*/

    /*---------->   POSTDETAIL  BEGIN <----------*/

    .post-detail-container {
      max-width: 80%;
      margin: 0 auto;
      padding-bottom: 2.25rem;
      border: 1px solid var(--primary-color);
      border-radius: 1rem;
      background-color: var(--primary-bg-color);
      align-items: center;
      align-content: center;
      overflow: hidden;
  }
  
  .post-detail-container li{
    color: var(--third-color);
  }.post-detail-container p{
    color: var(--third-color);
  }
  .post-detail-container h1{
    color: var(--primary-color);
  }

  .post-content{
    padding: 0 1rem;
  }
  
  .post-image {
      width: 100%;
      max-height: 400px;
      object-fit: cover; /* A kép kitölti a rendelkezésre álló helyet, miközben megőrzi az arányokat */
  }
  
  .post-title {
      font-size: 2rem;
      margin: 1.25rem 0; /* A kép alatt helyezzük el */
      text-align: center; /* Középre igazított cím */
  }
  
  .post-description {
      font-size: 1.3rem;
      margin-bottom: 2.5rem;
      text-align: center;
  }
  
  .post-footer {
      display: flex;
      flex-direction: column; /* Elemei minden esetben oszlopban helyezkednek el */
      align-items: center;
      justify-content: center;
  }
  
  .post-date {
      font-size: 1rem;
      color: var(--primary-color);
      margin-bottom: .6rem; /* Hozzáadunk némi távolságot az elemek között */
  }
  
  .author-info {
      display: flex;
      align-items: center;
      flex-direction: column; /* Az author-info elemei is oszlopba rendeződnek */
  }
  
  .author-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-bottom: .6rem; /* Margin a kép és a név között */
  }
  
  .author-name {
      font-size: 1rem;
      font-weight: bold;
  }
  
  @media (max-width: 768px) {
      .post-detail-container {
          max-width: 90%;
      }
      .post-image {
          height: 200px; /* Még kisebb magasság kis kijelzőn */
      }
  
      .post-title {
          font-size: 1.2rem; /* Kisebb betűméret a címhez */
          margin: 10px 0;
      }
  
      .post-description {
          font-size: 1rem; /* Kisebb betűméret a leíráshoz */
          margin-bottom: 20px;
      }
  
      /* A kis kijelzőkre vonatkozó lábléc beállítások már megfelelőek az oszlop elrendezéshez, ezért nem kell külön módosítani */
  }
  
  
      
    
      
    /*---------->   POSTDETAIL  END <----------*/

    /*---------->   REGISTER  BEGIN <----------*/

    .register-container {
        max-width: 50%;
        margin: 0 auto;
        padding: 2.25rem 1rem;
        border: 1px solid var(--primary-color);
        box-shadow: .25rem .25rem .6rem var(--shadow-color);
        border-radius: 1rem;
        background-color: var(--primary-bg-color);
        align-items: center;
        align-content: center;
    }
    
    h2 {
        text-align: center;
    }
    
    .form-group {
        margin-bottom: 1rem;
        padding: .6rem;
        align-items: center;
    }
    
    .register {
        width: 100%;
        padding: 1rem;
        background-color: var(--secondary-bg-color);
        color: var(--primary-color);
        border: none;
        border-radius: 1.25rem;
        cursor: pointer;
        border: 1px solid var(--primary-color);

    }
    
    .register:hover {
        background-color: var(--primary-color);
        color: black;
    }
    
    
    @media (max-width: 768px) {
        
        .register-container {
            max-width: 90%;
            
        }
      }

    /*---------->   REGISTER  END <----------*/

    /*---------->   USERPROFILE  BEGIN <----------*/

    .user-profile {
      display: flex;
      font-size: 1.3rem;
      flex-direction: column;
      align-items: center;
      padding: 1.25rem;
      margin: 0 auto;
    }
    
    .profile-header {
      text-align: center;
      margin-bottom: 2.5rem;
    }
    
    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1.25rem;
    }
    
    .profile-name {
      font-size: 3rem;
      font-family: 'Roboto Mono';
      font-weight: bold;
      margin-bottom: .6rem;
    }
    
    .profile-join-date {
      font-size: 1rem;
      color: var(--primary-color);
      margin-bottom: 1.25rem;
      display: flex;
      flex-direction: column;
    }
    
    .no-posts {
      font-size: 1.2rem;
      text-align: center;
      color: var(--primary-color);
    }
    

    /*---------->   USERPROFILE  END <----------*/

/*---------->   PAGES  END <----------*/