.card {
    min-width: 16rem;
    max-width: 19rem;
    margin: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.1);
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.1);
    cursor:pointer;
  }
  
  .card-image {
    height: 190px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 1.5em;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.5em;
    margin: 0 0 10px 0;
  }
  
  .card-text {
    font-size: 1em;
    margin: 0 0 10px 0;
    flex-grow: 1;
  }
  
  .card-date {
    font-size: 0.9em;
    text-align: right;
  }