/* CreatePost.css */

html, body {
    height: 100%;
    margin: 0; /* Margin eltávolítása a body-ról */
}

.create-post-container {
    max-width: 600px;
    height: 100%; /* 100% magasság */
    margin: 0 auto;
    padding: 20px;
    background-color: #333; /* Sötét háttér */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Flexbox használata a tartalom elrendezéséhez */
    flex-direction: column; /* Oszlop irány */
}

.toolbar {
    margin-bottom: 10px;
}

/*button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}*/

/*button:hover {
    background-color: #0056b3;
}*/

.editor {
    border: 1px solid #ccc;
    flex-grow: 1; /* Engedélyezi, hogy az editor a rendelkezésre álló helyet kitöltse */
    padding: 10px;
    border-radius: 4px;
    background-color: #444; /* Sötét háttér az editor számára */
    color: white; /* Alapértelmezett betűszín fehér */
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    overflow-y: auto; /* Görgetés engedélyezése */
    cursor: text; /* Kurzortípus */
}

h1, h2, h3 {
    color: white; /* Címek betűszíne */
    margin: 0; /* Címek margója */
}
p{
     color: white;
}

h1 {
    font-size: 24px; /* H1 mérete */
}

h2 {
    font-size: 20px; /* H2 mérete */
}

h3 {
    font-size: 18px; /* H3 mérete */
}

.code-block {
    background-color: #555; /* Kód blokk háttér */
    padding: 10px; /* Kód blokk padding */
    border-radius: 4px; /* Kerekítés */
    color: white; /* Kód blokk betűszíne */
}
