/* Konténer stílus */
.error-container {
    display: flex;
    max-width: 50%;
    max-height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin: 90px auto;
    box-shadow: 5px 5px 15px rgba(255, 0, 0, 1);
  }
  
  /* Cím stílus */
  .error-title {
    font-size: 2rem;
    color: rgba(190, 0, 0, .9);
  }
  
  /* Hibaleírás stílus */
  .error-text {
    font-size: 1.2rem;
  }
  
  /* Dátum stílus */
  .error-date {
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    
    .error-container {
        max-width: 90%;
        
    }
  }