/* Basic styling */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    box-shadow: 0 5px 15px -8px rgba(255, 255, 255, 0.9);
    margin-bottom: 70px;
  }
  
  .nav-logo h3 {
    color: white;

  }
  
  /* Nav menu for larger screens */
  .nav-menu {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }
  
  .nav-menu li a {
    color: white;
    border-bottom: 3px solid #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;

  }
  
  /* Mobile menu (initially hidden) */
  .nav-toggle-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none; /* hidden by default on large screens */
  }
  
  /* Mobile menu styling */
  .nav-menu.open {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    flex-direction: column;
    box-shadow: 0 5px 15px -8px rgba(255, 255, 255, 0.9);
  }
  
  .nav-menu li {
    padding: 1rem 0;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .nav-menu {
      display: none; /* hide on small screens */
      flex-direction: column;
      width: 100%;
      z-index: 10;
    }
  
    .nav-toggle-button {
      display: block; /* show toggle button on small screens */
    }
  }