.logout-container {
  margin: 1rem;
  margin: 70px auto;
  width: 40%;
  border: white 1px solid;
  border-radius: 15px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
}

button.hidden {
  display: none;
}

.modal {
  display:flexbox;
  align-items:center;
  justify-content: center;
}

.modal-content {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.logout{
  margin: 30px;
  padding: 10px 20px;
  background-color: #222;
  border: white 1px solid;
}
