.register-container {
    max-width: 50%;
    margin: 90px auto;
    padding: 20px;
    border: 1px solid #bbb;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, .4);
    border-radius: 17px;
    background-color: #222;
    align-items: center;
    align-content: center;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color:  var(--primary-color);
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    color: #ddd;
    font-weight: bold;
    border-radius: 4px;
}

.register {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 19px;
    cursor: pointer;
}

.register:hover {
    background-color: #ccc;
    color: black;
}


@media (max-width: 768px) {
    
    .register-container {
        max-width: 90%;
        
    }
  }